/* NAVBAR CONTAINER */
.ths-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    background: #e9d7d3;
    border-bottom: 1px solid #ddd;
    position: relative;
}

/* LEFT */
.ths-nav-left {
    display: flex;
    gap: 32px;
}

.map-icon {
    width: 25px;
    height: 25px;
    margin-top: -10px;
}


.ths-nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.ths-item {
    display: block;
}

.ths-item p {
    color: var(--Primary-800, #750B02);
    font-family: "Flame";
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.ths-item span {
    display: flex;
    color: var(--Secondary-500, #FFA32B);
    font-family: "Flame";
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.ths-item strong {
    display: flex;
    color: var(--Primary-800, #750B02);
    font-family: "Flame";
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
}

/* CENTER LOGO */
.ths-nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.ths-nav-center img {
    width: 88px;
}

/* RIGHT */
.ths-nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* LOGIN BUTTON */
.ths-nav-login {
    display: inline-flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 999px;
    background: var(--Secondary-500, #FFA32B);
    color: var(--Neutral-100, #FFF);
    text-align: center;
    font-family: "Flame";
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    border: none;
    cursor: pointer;
}

.divider {
    width: 0.866px;
    height: 24px;
    background: #750B02;
}

/* CART */
.ths-nav-cart {
    font-size: 18px;
    cursor: pointer;
}

.cart-icon {
    width: 32px;
    height: 32px;
    margin-top: 8px;
}

.ths-nav-user {
    display: block;
    align-items: center;
    gap: 10px;
}

.ths-user-name {
    color: var(--Primary-800, #750B02);
    font-family: "Flame";
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.ths-nav-logout {
    color: #750B02;
    font-family: "Flame";
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    background-color: transparent;
    border: none;
    cursor: pointer;
}